  <footer class="footer">
      <div class="caption">
        
          <div class="clearfix">
        <div class="price pull-left">
          -----------<a href="/shopping-cart/">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            Shopping Cart
            <span class="badge">{{session.cart.totalQty}}</span>
          </a>
        </div>
        
        <p class="text-muted pull-right">coppyright@2017.</p>
        </div>
      </div>
    </footer>