<link rel='stylesheet' href='/stylesheets/font.css'/>
<hr class="hr">
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 footerleft ">
        <!--<div class="jumbotron">
          <h3>ກະຕ່າ</h3>
          <a href="/shopping-cart/">
            <sub><sub><sub><i class="fa fa-shopping-cart" aria-hidden="true" style="font-size:26px"></i></sub></sub></sub>
            <sup><span class="badge">{{session.cart.totalQty}}</span></sup>
          </a>
        </div>-->
        <div class="copyright">
          <div class="container">
            <div class="col-md-6">
              <p>© 2016 - All Rights with Webenlance</p>
            </div>
          <div class="col-md-6">
            <ul class="bottom_ul">
              <li><a href="#">webenlance.com</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Faq's</a></li>
              <li><a href="#">Contact us</a></li>
              <li><a href="#">Site Map</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>
</footer>


