<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/sticky-footer-navbar.css'/>
    <link rel='stylesheet' href='/bootstrap-3.3.7-dist/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/stylesheets/font-awesome/css/font-awesome.min.css'/>
  </head>
  <body>
    {{> header}}
    <script src="/javascripts/jquery-1.12.4.js"></script>
    <div class="container">
      {{{body}}}
    </div>
    <hr>
    <div>Shopping Cart Shopping Cart Shopping Cart Shopping Cart Shopping Cart Shopping Cart</div>
    {{> footer}}
    
     
      <script src="/javascripts/bootstrap.min.js"></script>
    
    
  </body>
</html>
