

    {{# each users }}
        <div>
            {{# each this }}     
                    <p>UserID <strong> {{this._id}}</strong></p>
                    <h5>Name: <strong> {{this.firstname}}</strong></h5>
                    <hr class="hr"> 
            {{/each}}       
        </div>
   {{/each}}

  <hr>
  <hr>
  <hr>
  <hr>
  <hr>
  <hr>
  <hr>
  <hr>
  <hr>


