body {
    padding: 50px;
    font: 14px "Saysettha OT", Phetsarart OT;
}
.price
.thumbnail img {
    max-height: 150px;
}
.thumbnail .description {
    color: #7f7f7f;
}
.price {
    font-weight: bold;
    font-size: 16px;
}
.insert {
    background: #2ecc71;
}
.update {
    background: #3498db;
}
.get {
    background: #ecf0f1;
}
.delete {
    background: #e74c3c;
}
.hr{ 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #CCC;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width:767px) {

    #wrapper {
      padding-left: 0;
    }

    #sidebar-wrapper {
      left: 0;
    }

    #wrapper.active {
      position: relative;
      left: 250px;
    }

    #wrapper.active #sidebar-wrapper {
      left: 250px;
      width: 250px;
      transition: all 0.4s ease 0s;
    }

}
@media screen and (min-width: 0px) and (max-width: 736px) {
  #snouk { display: none; }  /* show it on small screens */
}

@media screen and (min-width: 737px) and (max-width: 2560px) {
  #snouk { display: block; }   /* hide it elsewhere */
}