<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <h1>ໃບສັ່ງຊື້</h1>
        <h4>ລວມມູນຄ່າທັງໝົດ: {{number total}} ກີບ</h4>
        <div id="charge-error" class="alert alert-danger {{#if noError}}hidden{{/if}}">
            {{errMsg}}
        </div>
        <form action="/checkout" method="post" id="checkout-form">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">ຊື່</label>
                        <input type="text" id="name" class="form-control" required name="name">
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="address">ທີ່ຢູ່</label>
                        <input type="text" id="address" class="form-control" required name="address">
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="address">ເບີໂທ</label>
                        <input type="number" id="tel" class="form-control" required name="tel">
                    </div>
                </div>
                
                
                
            </div>
            <p>ໂອນເງິນຕາມເລກບັນຊີ: <a href="#">ທະນະຄານ ການຄ້າ</a> <strong> 04012 345 678</strong></p>
            <p>ໂອນເງິນຕາມເລກບັນຊີ: <a href="http://www.ldblao.la">ທະນະຄານ ພັດທະນາລາວ</a> <strong>04013 45638</strong></p>
            <button type="submit" class="btn btn-success">ສັ່ງຊື້ເລີຍ</button>
        </form>
    </div>
</div>
<iframe src="https://www.bcel.com.la:8083/index.php?lang=1" height="800" width="100%" frameborder="0"></iframe>




